@tailwind base;
@tailwind components;
@tailwind utilities;

/* Strict viewport lockdown. 
  Prevents the browser from developing scrollbars when rendering the 3D canvas.
*/
html, body, #root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}